{% extends "mudra/base.html"%}
{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Log In</h1>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
        </div>
    </div>
{% endblock content %}